trash/
build-testms-Desktop_Qt_5_12_2_GCC_64bit-Debug/
build-testms-Desktop_Qt_5_12_2_GCC_64bit-RelWithDebInfo/
build-*
build*
testms/CMakeLists.txt.user
CMakeLists.txt.user
html/
latex/
trash/


/.vs
.vscode

libtorch*
tmp
